<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <!--Для Bootstrap-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--css-->
        <link rel="stylesheet" href="css/style.css">
        <!--Vue JS-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!--Main.js-->
        <script src="js/main.js" defer></script>
        
        <title>Dill all</title>
    </head>
    <body class="bg-green">
        <div id="app1">
            
            <!--Header-->
            <header class="bg-white container-fluid">
                    <!-- Верхня панель з лого, пошуком і навігацією -->
                    <div class="container py-3">
                        <div class="row">
                            <div class="col-md-3 col-10 justify-content-center">
                                <img src="images/Logo.png" class="img-fluid" alt="Logo">
                            </div>
                            <div class="col--">
                                <!-- Кнопка-бургер -->
                                <button class="navbar-toggle" @click.prevent="toggleMenu()">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </button>
                            </div>
                            <div class="col-md-9 col-12 nav-search">
                                
                                <!-- Пошук -->
                                <div class="search-container max-width-255">
                                    <form class="form-inline my-2 my-lg-0 d-inline-block">
                                        <input class="form-control search-input" type="search" placeholder="Search">
                                        <button class="btn search-btn" type="submit">
                                            <img src="images/ico_search.png" alt="Search">
                                        </button>
                                    </form>
                                </div>

                                

                                <!-- Навігація -->
                                <nav class="mt-4">
                                    <ul class="nav justify-content-end">
                                        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Company Profile</a></li>
                                        <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">R & D</a></li>
                                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
            </header>
            <div class="menu"  v-if="isMenuOpen">
                <div class="menu-content">
                    <button class="close-btn" @click.prevent="toggleMenu()">×</button>
                    <!-- Навігація -->
                    <nav>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Company Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">R & D</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <!--header image-->
        <div class="container-fluid px-0">
            <img src="images/dillheader_2.png" class="img-fluid" alt="header">
        </div>
        <!--title-->
        <div class="container py-5">
            <h3 class="title-s">Agridera Fresh Market Tomato Hybrids</h3>
            <p class="xxxxx">×××××</p>
        </div>
        <!--text-->
        <div class="container">
            <p>Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds.<b> We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</b>
            <br>    In particular, we breed improved disease-resistant cultivars adapted to different markets globally.</p>
                
                <p>Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus). </p>
                
               <p> In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes. </p>
        </div>
        <!--callout-->
        <div class="container callout">
            Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.
        </div>
        <!--3 col-->
        <div class="container bg-white">
            <div class="row">
                <div class="col">
                    <div class="line">
                        <h4 class="font-weight-bold">
                            Greenhouse Tomato Breeding Program
                        </h4>
                    </div>
                    <p><b>This breeding is aimed for the Spanish and Turkish markets.</b> For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). </p>
                </div>
                <div class="col">
                    <div class="line">
                        <h4 class="font-weight-bold">
                            Open-field Indeterminate Tomatoes
                        </h4>
                    </div>
                    <p><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                </div>
                <div class="col">
                    <div class="line">
                        <h4 class="font-weight-bold">
                            Open-field Bush Type Tomatoes
                        </h4>
                    </div>
                    <p><b>This breeding is for Mediterranean markets.</b> We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</p>
                </div>
            </div>
        </div>
        <!--callout-->
        <div class="container callout font-weight-bold">
            Agridera operates through international and local distributers around the world. 
        </div>
        <!--Carts-->
        <div id="app" class="container text-center mt-4">
            <div class="row">
                
                <div class="col-lg-4 col-md-6 mb-4" v-if="products" v-for="p in products">
                    <a :href="'product.html#'+p.id" class="card-link">
                        <div class="card">
                            <img :src="'img/'+p.image" class="card-img-top" alt="Image">
                            <div class="card-body px-2">
                                <h5 class="card-title">{{ p.title }}</h5>
                                <p class="card-text">{{ p.short_text }}</p>
                            </div>
                        </div>
                    </a>
                </div>
        
            </div>
        </div>
        <footer>
            <div class="container-fluid contacts">
                <div class="row cont justify-content-center align-items-center text-center">
                    <!-- Навігація -->
                    <div class="col-12 col-md-8 d-flex pl-1 justify-content-center">
                        <nav>
                            <ul class="nav flex-wrap justify-content-center">
                                <li class="nav-item"><a class="nav-link active" href="#">PROFILE</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">MANAGEMENT</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">PRODUCTS</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">R&D</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">LINKS</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">SITEMAP</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Соцмережі -->
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mt-3 mt-md-0">
                        <nav> 
                            <ul class="nav justify-content-center min-width-270">
                                <li class="nav-item"><a class="nav-link" href="#"><img src="images/linkedin 5 4.png" alt="in"></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><img src="images/Ico_inst.png" alt="inst"></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><img src="images/Ico_fb.png" alt="fb"></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><img src="images/Ico_tw.png" alt="tw(x)"></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><img src="images/Ico_tube.png" alt="yt"></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <h6 class="px-2 py-3 text-center mb-0 text-secondary">
                AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
            </h6>
        </footer>
    </body>
